html {
  scroll-behavior: smooth;
}
body {
  background-color: red;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

#pageheader {
  background-color: gold;
  min-height: auto;
  padding: 1rem;
}

#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(Images/49ERS.png);
  background-repeat: no-repeat;
}

#pageheader .container {
  background-color: none;
  min-height: auto;
  text-align: center;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageheader nav ul li {
  border: 2px solid black;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  margin: 2px;
}
#pageheader nav ul li:hover {
  background-color: rgb(0, 255, 26);
}

#media {
  background-color: gray;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/gloves.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}

#career {
  background-color: gray;
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
}
blockquote {
  background-color: none;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1.25rem;
  font-size: bold;
  color: red;
}
blockquote + span {
  background-color: none;
  padding: 1rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25rem;
}

#semester1 {
  background-color: darkred;
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: brown;
  min-height: 10rem;
  padding: 1rem;
}

#pagefooter {
  background-color: black;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  min-height: auto;
}
#aifooter .container {
  text-align: center;
  min-height: auto;
}

#subfooter {
  background-color: orange;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  display: block;
  margin: auto;

  background-color: red;
  border: 5px solid red;
}

@media screen and (min-width: 600px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: goldenrod;
  }
  #career {
    background-color: darkred;
  }
}

@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: orange;
  }
  #career {
    background-color: black;
  }
}
